<?xml version="1.0" encoding="UTF-8"?>
<Configuration shutdownHook="disable" packages="mapleglory.util">
    <Appenders>
        <!-- Console Logger -->
        <Console name="ConsoleLogger" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- SocketAppender for Log.io -->
        <Socket name="LogioSocketAppender" host="127.0.0.1" port="6689" protocol="tcp">
            <PatternLayout>
                <Pattern>
                    {"node":"mapleglory","stream":"app-log","message":"%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"}
                </Pattern>
            </PatternLayout>
        </Socket>
    </Appenders>

    <Loggers>
        <Logger name="mapleglory" level="debug" additivity="false">
            <AppenderRef ref="ConsoleLogger"/>
            <AppenderRef ref="LogioSocketAppender"/>
        </Logger>

        <Logger name="io.netty" level="error">
            <AppenderRef ref="ConsoleLogger"/>
            <AppenderRef ref="LogioSocketAppender"/>
        </Logger>

        <Root level="error">
            <AppenderRef ref="ConsoleLogger"/>
            <AppenderRef ref="LogioSocketAppender"/>
        </Root>
    </Loggers>
</Configuration>