<?xml version="1.0" encoding="UTF-8"?>
<Configuration shutdownHook="disable" packages="mapleglory.util">
    <Appenders>
        <Console name="ConsoleLogger" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="mapleglory" level="debug" additivity="false">
            <AppenderRef ref="ConsoleLogger"/>
        </Logger>

        <Logger name="io.netty" level="error">
            <AppenderRef ref="ConsoleLogger"/>
        </Logger>

        <Root level="error">
            <AppenderRef ref="ConsoleLogger"/>
        </Root>
    </Loggers>
</Configuration>